body{
    background-color: lightsteelblue;
    border-width: 2px;
}
h1{
    color: Salmon;
    text-align: center;

}
h2{
    color: Gold;
    text-align: center;

}

h3{
    color: Violet;
    text-align: center;

}

p{
    color: Fuschia;
    font-size: 25px;
    padding: 5px;
}
